<form 
  {{#if webhook.index}}
  hx-post="/settings/webhooks/{{ webhook.index }}"
  {{else}}
  hx-post="/settings/webhooks/add"
  {{/if}}
  hx-target="#webhooks"
  hx-swap="innerHTML"
  hx-on::send-error="alert('Unable to contact Helipad')"
  hx-on::response-error="alert(`${event.detail.error}\n${event.detail.xhr.responseText}`)"
  hx-on::after-request="(event.detail.xhr.status == 200) && $(this).closest('.modal').modal('hide')"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      {{#if webhook.index}}
        <h5 class="modal-title">Edit Webhook</h5>
      {{else}}
        <h5 class="modal-title">Add Webhook</h5>
      {{/if}}
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="edit-wh-url">URL</label>
        <input name="url" type="text" class="form-control" id="edit-wh-url" value="{{ webhook.url }}">
      </div>
      <div class="form-group">
        <label for="edit-wh-auth">Authorization token</label>
        <input name="token" type="text" class="form-control" id="edit-wh-auth" aria-describedby="edit-wh-auth-help" value="{{ webhook.token }}">
        <small id="edit-wh-auth-help" class="form-text text-muted">This will be passed in the <em>Authorization: Bearer</em> header to your URL.</small>
      </div>
      <div class="form-group">
        <label for="edit-wh-auth">Trigger on</label>

        <div class="form-check">
          <input id="edit-wh-on-boost" name="on_boost" type="checkbox" class="form-check-input" value="true"{{#if webhook.on_boost}} checked{{/if}}{{#unless webhook}} checked{{/unless}}>
          <label class="form-check-label" for="edit-wh-on-boost">New boosts</label>
        </div>

        <div class="form-check">
          <input id="edit-wh-on-stream" name="on_stream" type="checkbox" class="form-check-input" value="true"{{#if webhook.on_stream}} checked{{/if}}>
          <label class="form-check-label" for="edit-wh-on-stream">New streams</label>
        </div>

        <div class="form-check">
          <input id="edit-wh-on-sent" name="on_sent" type="checkbox" class="form-check-input" value="true"{{#if webhook.on_sent}} checked{{/if}}>
          <label class="form-check-label" for="edit-wh-on-sent">New sent boosts</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-check flex-fill">
        <input
          id="edit-wh-enabled"
          name="enabled"
          type="checkbox"
          class="form-check-input"
          value="true"
          {{#unless webhook}} checked{{/unless}}
          {{#if webhook.enabled}} checked{{/if}}
        >
        <label class="form-check-label" for="edit-wh-enabled">Enabled</label>
      </div>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
</form>