<thead>
  <tr>
    <th>URL</th>
    <th class="d-none d-md-table-cell">Last Request</th>
    <th class="d-none d-sm-table-cell">Enabled</th>
    <th class="text-right">Action</th>
  </tr>
</thead>

<tbody>
  {{#each webhooks}}
  <tr class="webhook" data-index="{{ index }}" hx-on::oob-after-swap="alert('swapped')">
    <td>{{ url }}</td>
    <td class="d-none d-md-table-cell">
      {{#unless request_timestamp }}--{{/unless}}
      {{#if request_timestamp }}
          {{#if request_successful }}✔{{/if}}
          {{#unless request_successful }}❌{{/unless}}
          {{timestamp request_timestamp}}
      {{/if}}
    </td>
    <td class="d-none d-sm-table-cell">
      {{#if enabled }}✔{{/if}}
      {{#unless enabled }}❌{{/unless}}
    </td>
    <td class="text-right">
      <button
          class="btn btn-sm btn-primary"
          hx-get="/settings/webhooks/{{ index }}"
          hx-target="#modals-here"
          hx-trigger="click"
          data-bs-toggle="modal"
          data-bs-target="#modals-here"
          hx-on::after-request="$('#modals-here').modal()"
      >
          Edit
      </button>
      <button
          class="btn btn-sm btn-danger"
          hx-delete="/settings/webhooks/{{ index }}"
          hx-target="closest tr"
          hx-confirm="Arey you sure you want to delete this webhook?"
      >
          Delete
      </button>
    </td>
  </tr>
  {{/each}}

  <tr id="added-webhook" style="display: none">
  </tr>
</tbody>